<nav class="p-4 flex justify-between pb-0">
  <div class="flex items-center gap-2">
    <div
      class="flex items-center justify-center h-8 w-8 shadow-lg shadow-cyan-500/30 rounded-lg">
      <img src="{{ url_for('static', path='images/logo.png') }}" alt="Logo" class="w-auto h-auto object-contain" />
    </div>
    <span class="font-light text-xl">LKExRates</span>
  </div>
  <div class="space-x-3 flex items-center">
    <span
      class="inline-flex items-center justify-center rounded-full bg-cyan-500/10 border border-cyan-500/20 px-2.5 py-0.5 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#67E8F9"
        class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      <p class="text-sm whitespace-nowrap ml-2 text-cyan-300">Last updated: Today 6:00 AM</p>
    </span>
    <span
      class="inline-flex items-center justify-center rounded-full bg-emerald-500/10 border border-emerald-500/20 px-2.5 py-0.5 items-center">
      <span class="inline-block w-2 h-2 bg-emerald-400 rounded-full animate-pulse"></span>
      <p class="text-sm whitespace-nowrap ml-2 text-emerald-400">Daily Sync</p>
    </span>
  </div>
</nav>