{% from "components/logo.html" import logo%}

{% macro nav_bar(last_updated_time) %}
<nav class="px-3 py-3 sm:p-4 flex flex-col gap-3 bg-linear-to-r from-slate-950 via-cyan-950/50 to-slate-950 border-b border-cyan-800/30 backdrop-blur-xl sticky top-0 z-50">
  <!-- Top row for small screens -->
  <div class="md:hidden flex items-center w-full">
    <div class="flex items-center gap-2">
      {{logo()}}
      <span class="font-light text-md text-white">LKExRates</span>
    </div>
    <span class="inline-flex justify-center rounded-full bg-emerald-500/10 
        border border-emerald-500/20 px-2.5 py-1.5 items-center w-fit ml-auto">
      <span class="inline-block w-2 h-2 bg-emerald-400 rounded-full animate-pulse"></span>
      <p class="text-xs whitespace-nowrap ml-2 text-emerald-400">Daily Sync</p>
    </span>
  </div>
  <!-- Normal layout for medium+ screens -->
  <div class="hidden md:flex justify-between items-center w-full">
    <div class="flex items-center gap-2">
      {{logo()}}
      <span class="font-light text-lg w-fit">LKExRates</span>
    </div>
    <div class="flex items-center gap-3">
      <span class="inline-flex justify-center rounded-full bg-cyan-500/10 border 
          border-cyan-500/20 px-2.5 py-1.5 items-center w-fit">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#67E8F9"
          class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 
             3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 
             0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        <p class="text-xs whitespace-nowrap ml-2 text-cyan-300">
          Last updated: {{ last_updated_time if last_updated_time else 'N/A' }} (GMT+05:30)
        </p>
      </span>
      <span class="inline-flex justify-center rounded-full bg-emerald-500/10 border 
          border-emerald-500/20 px-2.5 py-1.5 items-center w-fit">
        <span class="inline-block w-2 h-2 bg-emerald-400 rounded-full animate-pulse"></span>
        <p class="text-xs whitespace-nowrap ml-2 text-emerald-400">Daily Sync</p>
      </span>
    </div>
  </div>
</nav>
{% endmacro %}