{% from "components/navbar.html" import nav_bar%}
{% from "components/footer.html" import footer%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/theme.css') }}" type="text/tailwindcss">
  <script src="https://kit.fontawesome.com/f7751212d3.js" crossorigin="anonymous"></script>
</head>

<body
  class="flex flex-col min-h-screen bg-linear-to-br from-slate-950 via-cyan-950 to-slate-900 text-white font-[DM_Sans]">
  {{ nav_bar(data.last_updated_time) }}
  <main class="flex-1">{% block content %}{% endblock %}</main>
  {{ footer() }}
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="{{ url_for('static', path='js/main.js') }}"></script>
</body>

</html>