{% from "components/rate_card.html" import rate_card%}

{% extends "base.html" %}

{%block content %}
{%block welcome_text %}
  <div class="relative w-full h-[400px] sm:h-[570px] bg-dark-blue overflow-hidden">
    <!-- Text overlay -->
    <div class="absolute inset-0 flex flex-col justify-center items-center z-10 text-center px-4">
      <h1 class="text-white text-5xl sm:text-6xl font-bold mb-3">Daily Exchange Rates</h1>
      <p class="text-slate-400 text-xl max-w-xl">
        Best rates across all major banks, updated daily at 6:00 AM
      </p>
    </div>
    <!-- Lottie Animation Background -->
    <lottie-player class="absolute inset-0 w-full h-full object-cover scale-[1] sm:scale-[1.045] origin-center z-0" src="{{ url_for('static', path='animations/wave.json') }}"
      background="transparent" speed="0.75" loop autoplay>
    </lottie-player>
  </div>
{% endblock %}
<div class="sm:p-4 lg:px-10 mt-1">
{%block filters %}
<div class="mb-6 sm:mb-8 space-y-3 sm:space-y-4">
  <div class="grid grid-cols-2 sm:flex sm:flex-wrap gap-2 lg:gap-3">
    <div class="col-span-1 w-full sm:w-4/12">
      <div class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-search absolute left-4 top-1/2 transform -translate-y-1/2 text-slate-500 w-5 h-5"
          aria-hidden="true">
          <path d="m21 21-4.34-4.34"></path>
          <circle cx="11" cy="11" r="8"></circle>
        </svg>
        <input data-slot="input"
          class="file:text-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 flex w-full min-w-0 border px-3 py-1 text-base transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive pl-12 h-10 sm:h-11 bg-slate-900/50 border-cyan-700/30 text-white placeholder:text-slate-500 focus:border-cyan-500/50 focus:ring-2 focus:ring-cyan-500/20 rounded-xl"
          placeholder="Search by currency name or code..." value />
      </div>
    </div>
    <div class="col-span-1 w-full sm:w-2/12">
      <button type="button" role="combobox" aria-controls="radix-:r9g:" aria-expanded="false" aria-autocomplete="none"
        dir="ltr" data-state="closed" data-slot="select-trigger" data-size="default"
        class="data-[placeholder]:text-muted-foreground [&_svg:not([class*='text-'])]:text-muted-foreground focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:bg-input/30 dark:hover:bg-input/50 flex items-center justify-between gap-2 border px-3 py-2 text-sm whitespace-nowrap transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50 data-[size=default]:h-11 data-[size=sm]:h-10 *:data-[slot=select-value]:line-clamp-1 *:data-[slot=select-value]:flex *:data-[slot=select-value]:items-center *:data-[slot=select-value]:gap-2 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 w-full h-11 bg-slate-900/50 border-cyan-700/30 text-white focus:border-cyan-500/50 focus:ring-2 focus:ring-cyan-500/20 rounded-xl">
        <span data-slot="select-value" style="pointer-events: none;">All Currencies</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down size-4 opacity-50" aria-hidden="true">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
    </div>
    <div class="col-span-2 w-full sm:w-2/12">
      <button type="button" role="combobox" aria-controls="radix-:r9g:" aria-expanded="false" aria-autocomplete="none"
        dir="ltr" data-state="closed" data-slot="select-trigger" data-size="default"
        class="data-[placeholder]:text-muted-foreground [&amp;_svg:not([class*='text-'])]:text-muted-foreground focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:bg-input/30 dark:hover:bg-input/50 flex items-center justify-between gap-2 border px-3 py-2 text-sm whitespace-nowrap transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50 data-[size=default]:h-11 data-[size=sm]:h-10 *:data-[slot=select-value]:line-clamp-1 *:data-[slot=select-value]:flex *:data-[slot=select-value]:items-center *:data-[slot=select-value]:gap-2 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 [&amp;_svg:not([class*='size-'])]:size-4 w-full h-11 bg-slate-900/50 border-cyan-700/30 text-white focus:border-cyan-500/50 focus:ring-2 focus:ring-cyan-500/20 rounded-xl"><span
          data-slot="select-value" style="pointer-events: none;">Telegraphic Transfer</span><svg
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down size-4 opacity-50" aria-hidden="true">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
    </div>
    <div class="col-span-2 w-full sm:w-2/12">
      <button type="button" role="combobox" aria-controls="radix-:r9h:" aria-expanded="false" aria-autocomplete="none"
        dir="ltr" data-state="closed" data-slot="select-trigger" data-size="default"
        class="data-[placeholder]:text-muted-foreground [&amp;_svg:not([class*='text-'])]:text-muted-foreground focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:bg-input/30 dark:hover:bg-input/50 flex items-center justify-between gap-2 border px-3 py-2 text-sm whitespace-nowrap transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50 data-[size=default]:h-11 data-[size=sm]:h-10 *:data-[slot=select-value]:line-clamp-1 *:data-[slot=select-value]:flex *:data-[slot=select-value]:items-center *:data-[slot=select-value]:gap-2 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 [&amp;_svg:not([class*='size-'])]:size-4 w-full h-11 bg-slate-900/50 border-cyan-700/30 text-white focus:border-cyan-500/50 focus:ring-2 focus:ring-cyan-500/20 rounded-xl"><svg
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-building2 lucide-building-2 w-4 h-4 mr-2" aria-hidden="true">
          <path d="M10 12h4"></path>
          <path d="M10 8h4"></path>
          <path d="M14 21v-3a2 2 0 0 0-4 0v3"></path>
          <path d="M6 10H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2"></path>
          <path d="M6 21V5a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v16"></path>
        </svg>
        <span data-slot="select-value" style="pointer-events: none;">All Banks</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down size-4 opacity-50" aria-hidden="true">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
    </div>
    <div class="col-span-2 w-full sm:w-1/12">
      <button data-slot="button"
        class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive border hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 px-4 py-2 has-[&gt;svg]:px-3 col-span-2 sm:col-span-1 h-11 bg-slate-900/50 border-cyan-700/30 text-white hover:bg-slate-800/50 hover:border-cyan-500/50 rounded-xl">
        Reset Filters
      </button>
    </div>
  </div>
</div>
{% endblock %}
{%block rates %}
<div class="grid grid-cols-1 gap-3">
  {{ rate_card(
  {"symbol": "$", "code": "USD", "name":"US Dollar"}, {"bank_name": "Commercial Bank","today": {"tt_buying":
  "305.05","tt_selling": "311.55", "created_date": "2025-11-19 06:41:54.497"}, "yesterday": {"tt_buying": "304.05",
  "tt_selling": "310.55"}}
  )}}
  {{ rate_card(
  {"symbol": "€", "code": "EUR", "name":"Euro"}, {"bank_name": "Commercial Bank","today": {"tt_buying":
  "190.05","tt_selling": "311.55", "created_date": "2025-11-19 06:41:54.497"}, "yesterday": {"tt_buying": "200.05",
  "tt_selling": "310.55"}}
  )}}
</div>
{% endblock %}
</div>
{% endblock %}